<body>
    <section class = "auth-box">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="johnsmith@gmail.com" [(ngModel)]="username">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="password" [(ngModel)]="password">
                <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-success" (click) = "login()">
                Login
                </button>
            </p>
        </div>
        <div class="field">
            <p>
                Don't have an account?
                <a href="register/" class="is-underlined">
                    Register
                </a>
            </p>
        </div>
        <div class="field" *ngIf="loginError">
            <p class="has-text-danger">
                invalid username or password
            </p>
        </div>
    </section>    
</body>
