<body>
    <section class = "auth-box has-text-centered">
        <div class="field">
            <label class="label">
                Enter Validation Code
            </label>
            <div>
                <input class="input is-primary" size = "10" type="text" maxlength="6" placeholder="000000" minlength="6" [(ngModel)]="validationCode">
            </div>
        </div>
        <div class="field ">
            <p class="control">
                <button class="button is-success" (click) = validateUser()>
                Validate
                </button>
            </p>
        </div>
        <div class="field" *ngIf="codeError">
            <p class="has-text-danger">
                invalid code
            </p>
        </div>
    </section>    
</body>
