<nav class="navbar has-background-light" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <div class = "navbar-item is-clickable" (click) = goToHome()>
                <img src="../../assets/icons/library.jpg" alt="">
                <div>Online Book Shop</div>
            </div>
        </div>
        <div class="navbar-end">
            <div class = "navbar-item is-clickable" [routerLink]="['/cart']">
                <img src="../../assets/icons/shopping_cart.png" alt="">
            </div>
        </div>
    </div>
</nav>
<section class="section mt-6">
    <div class="columns is-centered">
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img [src]="book.image" onerror="this.onerror=null; this.src='https://d1csarkz8obe9u.cloudfront.net/posterpreviews/art-book-cover-design-template-34323b0f0734dccded21e0e3bebf004c_screen.jpg?ts=1637015198';" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4">{{book.name}}</p>
                    <p class="subtitle is-6">{{book.author}}</p>
                    <p>{{book.description}}</p>
                    <div>{{book.year}}</div>
                    <div>Language: {{book.language}}</div>
                    <div>{{book.price}} USD</div>
                    <div *ngIf="book.stock > 0">In Stock: {{book.stock}}</div>
                    <div class="has-text-danger" *ngIf="book.stock == 0">Out of Stock</div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="field">
                        <label class="label">Quantity</label>
                        <div class="select">
                            <select [(ngModel)]="quantity">
                                <option *ngFor="let option of stockOptions" [value]="option+1">{{option+1}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <button class="button is-link" (click)="addToCart()" [routerLink]="['/cart']">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>